* {
    margin: 0px;
    padding: 0px;
}



.confeitaria img {
    width: 25px;
    
}


button {
  width: 50px;
  margin: 10px;
}

.confeitaria {
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
   
}

.inicio {
    display: grid;
    background-color: #f2d0e0;
    grid-template-columns: 1rf 500px;
}










