* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

    

header {
    background-color: rgb(82, 77, 77) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 20px;
 }


main .card .video{
    width: 250px;
}

main .card {
    
    text-align: center;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    margin: 10px;
   
 }

 footer {
    background: rgb(82, 77, 77);
    height: 40px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

